/****************
    SITE-WIDE
*****************/

body {
    font-family: 'IBM Plex Mono';
    text-justify: auto;
    min-width: 100vw;
    background-color: rgb(230, 230, 240);
}

section {
    padding-top: 1.25em;
}

h1 {
    font-family: 'IBM Plex Mono';
    font-weight: 100;
    color: #222;
    text-transform: uppercase;
}

h2 {
    font-family: 'Sarpanch';
    color: #444;
    font-size: 1.5em;
    text-transform: uppercase;
}

p {
    font-family: 'IBM Plex Mono';
    color: #777;
    font-size: 1em;
}

.text-pixel {
    font-family: 'Press Start 2P';
    font-weight: 100;
}


/* NAV BAR */

.nav-holder {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 75px;
    background: none;
}

.navbar-light .navbar-toggler {
    color: #ddd;
    border: none;
}

    .navbar-light .navbar-toggler:focus {
        color: #fff;
        border: none;
        outline: 0;
    }

.navbar-light .navbar-nav .nav-link {
    color: #ddd;
}

    .navbar-light .navbar-nav .nav-link:hover {
        color: #FFF;
    }

@media (max-width: 992px) {
    .navbar-collapse {
        overflow-y: hidden;
    }

    .navbar-nav {
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.15)
    }

    .navbar-light .navbar-nav .nav-link {
        color: #555;
        border-bottom: 1px solid #e7e7e7;
    }

        .navbar-light .navbar-nav .nav-link:hover {
            color: #000;
        }
}

/* PAGE HEADERS */

section.page-header {
    padding-top: 100px;
    padding-bottom: 25px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0) 100%), linear-gradient(217deg, rgba(180,0,255,.8), rgba(180,0,255,0) 80%), linear-gradient(127deg, rgba(0,30,172,.8), rgba(0,30,172,0) 70%), linear-gradient(0deg, #222, #222 100%);
    height: 33vh;
    max-height: 250px;
    color: #fff;
}

.page-header h1 {
    color: #fff;
    margin-top: 25px;
    font-family: 'Sarpanch', monospace;
}

/*** INDEX ***/

#WelcomeBanner {
    height: 66vh;
    background: url("../img/welcome-banner.jpg");
    background-size: cover;
    background-position: center;
}

    #WelcomeBanner h1 {
        margin-top: 20vh;
        margin-bottom: 0;
        font-family: 'Sarpanch';
        color: #fff;
        font-size: 4em;
        text-align: center;
    }

    #WelcomeBanner p {
        font-family: 'IBM Plex Mono';
        color: #fff;
        font-size: 1.35em;
        font-weight: 100;
        text-align: center;
    }

/* Product Categories Section */

#ProductCategories {
    text-align: center;
    padding: 2em;
    padding-left: 0.4em;
    padding-right: 1em;
    max-width: 1300px;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

    #ProductCategories h1 {
        margin-bottom: 1em;
    }

    #ProductCategories a:hover {
        text-decoration: none;
    }

    #ProductCategories img {
        max-height: 250px;
    }

    #ProductCategories h2 {
        font-family: 'Sarpanch';
    }

.category-card {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 30%;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
}

    .category-card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .category-card h2 {
        padding-bottom: 1em;
    }

@media (max-width: 600px) {
    .category-card {
        width: 50%;
        margin-top: 2em;
        margin-bottom: 2em;
    }
}

/* About Us Section */
#AboutUsIndex {

}

#AboutUsBubble {
    width: 75%;
    max-width: 660px;
    margin: auto;
    border-radius: .25rem;
    background-color: #222;
    color: #fff;
    padding: 1em;
    text-align: center;
    border: 1px solid #4fbfa8;
}

    #AboutUsBubble h3 {
        font-family: 'Sarpanch';
        color: #fff;
    }

        #AboutUsBubble h3 span {
            font-size: 0.8em;
            font-family: 'IBM Plex Mono';
            font-weight: 100;
        }

    #AboutUsBubble p {
        font-weight: 100;
        font-family: 'IBM Plex Mono';
        color: #ccc;
    }

/* Featured Collection (Walkman) */
#collectionWalkman {
    padding-top: 0;
    position: relative;
    display: block;
}

    #collectionWalkman img {
        width: 100%;
        height: auto;
    }

    #collectionWalkman h3 {
        position: absolute;
        top: calc(50% - 1.2em);
        left: 0;
        z-index: 2;
        display: inline;
        height: 1em;
        width: 100%;
        text-align: center;
        color: #fff;
    }

    #collectionWalkman .btn {
        position: absolute;
        top: 52%;
        left: calc(50% - 85px);
        width: 170px;
        z-index: 1;
    }

@media(min-width: 1600px) {

    #collectionWalkman {
        width: 100%;
        text-align: center;
    }

        #collectionWalkman img {
            width: 1600px;
            height: auto;
        }
}

/* Featured Product Hero */

#FeatureBanner {
    margin: 2.5em auto;
    width: 50%;
    left: 25%;
    position: relative;
    display: inline-block;
    text-align: center;
}

    #FeatureBanner img {
        width: 90%;
    }

    #FeatureBanner h2 {
        padding: 0.5em 1em;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
    }

    #FeatureBanner a {
        position: absolute;
        width: 20%;
        bottom: 5%;
        left: 40%;
    }

@media (max-width: 992px) {
    #FeatureBanner {
        text-align: left;
        margin: 0;
        left: 0;
        width: 100%;
        padding: 0;
        position: relative;
    }

        #FeatureBanner img {
            width: 100%;
        }

        #FeatureBanner h2 {
            font-size: 2em;
            padding: 0.5em 1em;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.6);
            color: #fff;
        }

        #FeatureBanner span {
            display: none;
        }

        #FeatureBanner a {
            position: absolute;
            left: 2.5%;
            bottom: 5%;
            height: 40px;
            width: auto;
        }
}

/*** PRODUCTS ***/

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    cursor: default;
    background-color: #4fbfa8;
    color: #fff;
    border-color: rgb(79, 191, 168);
}

.product-card {
    display: inline-block;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    min-height: 20vh;
}

    .product-card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.product-img {
    height: 100%;
    display: inline-block;
    width: 33%;
    text-align: center;
}

.product-text {
    display: inline;
    width: 66%;
    float: right;
}

    .product-text h3.text-pixel {
        font-size: 1em;
        font-weight: 400;
    }

.product-card a {
    color: #222;
}

    .product-card a:hover {
        color: #000;
        text-decoration: none;
    }

/*** SHOPPING CART ***/

.cartQuantityForm {
    max-width: 50%;
    display: inline-block;
}

.cartQuantityButton {
    max-width: 50%;
    display: inline-block;
    margin-left: 1em;
}

@media (max-width: 992px) {
    .cartQuantityForm {
        width: 75%;
        display: block;
    }

    .cartQuantityButton {
        width: 100%;
        display: block;
        margin-left: 0;
    }
}
