/****************
    SITE-WIDE
*****************/

body {
    font-family: 'IBM Plex Mono';
    text-justify: auto;
    min-width: 100vw;
    background-color: rgb(230, 230, 240);
}

section {
    padding: 3em 0;
}

h1 {
    font-family: 'IBM Plex Mono';
    font-weight: 100;
    color: #222;
    text-transform: uppercase;
}

h2 {
    font-family: 'Sarpanch';
    color: #444;
}

.text-pixel {
    font-family: 'Press Start 2P';
    font-weight: 100;
}


/* NAV BAR */

.nav-holder {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 75px;
    background: none;
}

.navbar-light .navbar-toggler {
    color: #ddd;
    border: none;
}

    .navbar-light .navbar-toggler:focus {
        color: #fff;
        border: none;
        outline: 0;
    }

.navbar-light .navbar-nav .nav-link {
    color: #ddd;
}

    .navbar-light .navbar-nav .nav-link:hover {
        color: #FFF;
    }

@media (max-width: 992px) {
    .navbar-collapse {
        overflow-y: hidden;
    }

    .navbar-nav {
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.15)
    }

    .navbar-light .navbar-nav .nav-link {
        color: #555;
        border-bottom: 1px solid #e7e7e7;
    }

        .navbar-light .navbar-nav .nav-link:hover {
            color: #000;
        }
}

/* PAGE HEADERS */

.page-header {
    padding-top: 100px;
    padding-bottom: 25px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0) 100%), linear-gradient(217deg, rgba(180,0,255,.8), rgba(180,0,255,0) 80%), linear-gradient(127deg, rgba(0,30,172,.8), rgba(0,30,172,0) 70%), linear-gradient(0deg, #222, #222 100%);
    height: 33vh;
    max-height: 250px;
    color: #fff;
}

    .page-header h1 {
        color: #fff;
        margin-top: 25px;
        font-family: 'Sarpanch', monospace;
    }

/*** INDEX ***/

#WelcomeBanner {
    background: url("../img/welcome-banner.jpg");
    background-size: cover;
    background-position: center;
}

    #WelcomeBanner div {
        height: 100vh;
    }

    #WelcomeBanner h1 {
        font-family: 'Sarpanch';
        color: #fff;
        font-size: 10em;
        margin-bottom: 0;
    }


@media (max-width: 992px) {
    #WelcomeBanner h1 {
        font-size: 7em;
    }
}

#ProductCategories {
    text-align: center;
}

    #ProductCategories h1 {
        margin-bottom: 1em;
    }

    #ProductCategories a:hover {
        text-decoration: none;
    }

    #ProductCategories img {
        max-height: 250px;
    }

    #ProductCategories h2 {
        font-family: 'Sarpanch';
    }

.category-card {
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 30%;
    display: inline-block;
}

    .category-card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .category-card h2 {
        padding-bottom: 1em;
    }

/* Featured Product Hero */

#FeaturedProduct {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0) 100%), linear-gradient(221deg, rgba(38,53,107,.8), rgba(38,53,107,0) 80%), linear-gradient(12deg, rgba(245,115,1,.8), rgba(245,115,1,0) 70%), linear-gradient(0deg, #222, #222 100%);
}

    #FeaturedProduct img {
        width: 100%;
    }

    #FeaturedProduct h2 {
        color: #fff;
        font-family: 'Sarpanch';
        font-size: 3em;
    }

    #FeaturedProduct h3 {
        color: #bbb;
        font-family: 'IBM Plex Mono';
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: 100;
    }

    #FeaturedProduct p {
        font-size: 1.2em;
        color: #ddd;
        font-family: 'IBM Plex Mono';
    }


/*** PRODUCTS ***/

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    cursor: default;
    background-color: #4fbfa8;
    color: #fff;
    border-color: rgb(79, 191, 168);
}

.product-card {
    display: inline-block;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    min-height: 20vh;
}

    .product-card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.product-img {
    height: 100%;
    display: inline-block;
    width: 33%;
    text-align: center;
}

.product-text {
    display: inline;
    width: 66%;
    float: right;
}

    .product-text h3.text-pixel {
        font-size: 1em;
        font-weight: 400;
    }

.product-card a {
    color: #222;
}

    .product-card a:hover {
        color: #000;
        text-decoration: none;
    }

/*** SHOPPING CART ***/

.cartQuantityForm {
    max-width: 50%;
    display: inline-block;
}

.cartQuantityButton {
    max-width: 50%;
    display: inline-block;
    margin-left: 1em;
}

@media (max-width: 992px) {
    .cartQuantityForm {
        width: 75%;
        display: block;
    }

    .cartQuantityButton {
        width: 100%;
        display: block;
        margin-left: 0;
    }
}
