@{
    ViewBag.Title = "Error 404";
}




<!-- Error Page Header -->
<section class="page-header">
    <div class="container px-3 py-0">
        <h1 class="text-pixel">Error</h1>
    </div>
</section>

<!-- Error Description Section -->
<section class="min-vh-100 bg-white">
    <div class="container px-3 py-5">
        <h2 class="text-pixel display-5">Error 404</h2>
        <p class="lead">The page you were looking for could not be found.</p>
    </div>
</section>

