@{
    ViewBag.Title = "About Us";
}

<!-- About Us Page Header -->
<section class="page-header">
    <div class="container px-3 py-0">
        <h1>@ViewBag.Title</h1>
    </div>
</section>

<!-- Company Introduction Section -->
<section>
    <div class="container px-3 py-3">
        <h2>Our Mission</h2>
        <p>We believe that the experience of vintage technology should be readily available to today's generation. Although the market flooded with "remakes" and "remasters," these modern re-releases of old classics often fail to capture the soul of the originals. At Retro Tech, our desire is that durable and reliable restorations are made available at an affordable price.</p>
    </div>
</section>

<!-- Values Section -->
<section>
    <div class="row vw-100 gy-5 py-3">
        <div class="col-lg-1 col-md-0"></div>
        <div class="col-lg-3 text-center">
            <img class="img-fluid img-thumbnail" src="~/Content/img/nes-manual.jpg" alt="A page from the NES manual detailing the components of the device." />
        </div>
        <div class="col-lg-8">
            <div class="container px-3 py-3">
                <h2>Our values</h2>
                <ul>
                    <li>
                        <hr />
                        <h3>Affordable prices.</h3>
                        <p>All too often, consumers interested in vintage technology are turned away by the exorbitant price tags on restored pieces. Our pledge is to offer reasonable, affordable prices so all can enjoy the experience of retro media.</p>
                    </li>
                    <li>
                        <hr />
                        <h3>Authentic restorations.</h3>
                        <p>Our products are true to the spirit of the originals. While it is tempting to "improve" the experience in restored tech, we want to preserve the quirks and shortcomings which gave these historic technologies their unique character.</p>
                    </li>
                    <li>
                        <hr />
                        <h3>Reliable and durable products.</h3>
                        <p>Our guarantee is that our products are built to last. And should you experience any difficulties, we have expert technicians available to make affordable repairs.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

@* TODO: Make this dynamic! *@
<!-- Our Team Section -->
<section>
    <div class="container px-3 py-3">
        <h2>Meet our team</h2>
        <div class="row gy-3 gx-5">
            <div class="col-md-6 text-center p-5">
                <img class="avatar avatar-xxl p-2 mb-4" src="~/Content/img/christian-buehner-DItYlc26zVI-unsplash-cropped.jpg" alt="Han Solo">
                <h3 class="h4 mb-1 text-uppercase">Han Solo</h3>
                <p class="text-muted small text-uppercase">Founder</p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="social-link facebook" href="#"><i class="fab fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a class="social-link twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
            <div class="col-md-6 text-center p-5">
                <img class="avatar avatar-xxl p-2 mb-4" src="~/Content/img/harps-joseph-tAvpDE7fXgY-unsplash-cropped.jpg" alt="Luke Skywalker">
                <h3 class="h4 mb-1 text-uppercase">Luke Skywalker</h3>
                <p class="text-muted small text-uppercase">CTO</p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="social-link facebook" href="#"><i class="fab fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a class="social-link twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
@*
    TODO: Testimonials Section
    <!-- Testimonials Section -->
    <section class="py-5 bg-pentagon border-top border-gray-600">
        <div class="container py-4 px-3">
            <header class="mb-5">
                <h2 class="text-uppercase mb-4">What our customers say</h2>
                <p class="lead">We have worked with many clients and we always like to hear they come out from the cooperation happy and satisfied. Have a look what our clients said about us.</p>
            </header>
            <div class="row gx-3">
                <div class="col-md-3">
                    <div class="p-4 bg-white h-100 d-flex flex-column justify-content-between">
                        <div class="mb-2">
                            <p class="text-sm text-gray-600">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
                            <p class="text-sm text-gray-600"></p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <i class="fas fa-quote-left text-primary fa-2x"></i>
                            <div class="d-flex align-items-center ms-3">
                                <div class="me-3 text-end">
                                    <h5 class="text-uppercase mb-0">John McIntyre</h5>
                                    <p class="small text-muted mb-0">CEO, transTech</p>
                                </div><img class="avatar p-1 flex-shrink-0" src="img/person-1.jpg" alt="John McIntyre" width="60">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="p-4 bg-white h-100 d-flex flex-column justify-content-between">
                        <div class="mb-2">
                            <p class="text-sm text-gray-600">The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. &quot;What's happened to me? &quot; he thought. It wasn't a dream.</p>
                            <p class="text-sm text-gray-600"></p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <i class="fas fa-quote-left text-primary fa-2x"></i>
                            <div class="d-flex align-items-center ms-3">
                                <div class="me-3 text-end">
                                    <h5 class="text-uppercase mb-0">John McIntyre</h5>
                                    <p class="small text-muted mb-0">CEO, transTech</p>
                                </div><img class="avatar p-1 flex-shrink-0" src="img/person-2.jpg" alt="John McIntyre" width="60">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="p-4 bg-white h-100 d-flex flex-column justify-content-between">
                        <div class="mb-2">
                            <p class="text-sm text-gray-600">His room, a proper human room although a little too small, lay peacefully between its four familiar walls.</p>
                            <p class="text-sm text-gray-600">A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <i class="fas fa-quote-left text-primary fa-2x"></i>
                            <div class="d-flex align-items-center ms-3">
                                <div class="me-3 text-end">
                                    <h5 class="text-uppercase mb-0">John McIntyre</h5>
                                    <p class="small text-muted mb-0">CEO, transTech</p>
                                </div><img class="avatar p-1 flex-shrink-0" src="img/person-3.png" alt="John McIntyre" width="60">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="p-4 bg-white h-100 d-flex flex-column justify-content-between">
                        <div class="mb-2">
                            <p class="text-sm text-gray-600">His room, a proper human room although a little too small, lay peacefully between its four familiar walls.</p>
                            <p class="text-sm text-gray-600">A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <i class="fas fa-quote-left text-primary fa-2x"></i>
                            <div class="d-flex align-items-center ms-3">
                                <div class="me-3 text-end">
                                    <h5 class="text-uppercase mb-0">John McIntyre</h5>
                                    <p class="small text-muted mb-0">CEO, transTech</p>
                                </div><img class="avatar p-1 flex-shrink-0" src="img/person-3.png" alt="John McIntyre" width="60">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
*@