@model StoreFront.UI.MVC.Models.ContactViewModel

@{
    ViewBag.Title = "Email Confirmation";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-offset-2 col-md-4 text-center">
        <h2>Thank you for contacting us.</h2>
        <p>We will reply to you soon!</p>
    </div>

    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h5>Subject:</h5>
                <h5>@Model.Subject</h5>
                <h5>Message:</h5>
                <h5>@Model.Message</h5>
                <h5>Return Email: <em>@Model.Email</em></h5>
            </div>
        </div>
    </div>
</div>