@model StoreFront.UI.MVC.Models.ContactViewModel

@{
    ViewBag.Title = "Email Confirmation";
}
<div class="alert alert-success my-3 px-5">
    <h2>Your message was sent.</h2>
</div>
<div class="container p-3 min-vh-100">
    <div class="col-md-10">
        <h2 class="text-primary">Thank you for contacting us.</h2>
        <p>We will reply to you soon!</p>
    </div>
    <div class="p-5 border-gray-700">
        <h4><span class="text-muted">From:</span> @Model.Name (@Model.Email)</h4>
        <h4><span class="text-muted">Subject:</span> @Model.Subject</h4>
        <h4 class="text-muted">Message:</h4>
        <p class="lead">@Model.Message</p>
    </div>
</div>