@{
    ViewBag.Title = "Home";
}

<!-- INDEX HERO SECTION-->
<section class="text-white bg-primary" id="IndexHero">
    <div class="container py-5">
        <div class="row py-3 gx-5">
            <div class="col-md-6">
                <img class="ml-auto img-fluid" src="~/Content/img/logo.png" alt="Retro Tech logo">
            </div>
            <div class="col-md-4">
                <h1 class="text-uppercase">Restored Vintage Technology</h1>
            </div>
        </div>
    </div>
</section>

<!-- SERVICES SECTION-->
<section class="py-5">
    <div class="container py-4">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6 block-icon-hover text-center">
                <div class="text-center align-items-center">
                    <img src="~/Content/img/music-icon.png" style="max-height: 200px;" />
                </div>
                <h4 class="text-uppercase mb-3">Sony Walkmans</h4>
            </div>
            <div class="col-lg-4 col-md-6 block-icon-hover text-center">
                <div class="text-center align-items-center">
                    <img src="~/Content/img/videogames-icon.png" style="max-height: 200px;" />
                </div>
                <h4 class="text-uppercase mb-3">NES CONSOLES &amp; CARTRIDGES</h4>
            </div>
            <div class="col-lg-4 col-md-6 block-icon-hover text-center">
                <div class="text-center align-items-center">
                    <img src="~/Content/img/gameboy-icon.png" style="max-height: 200px;" />
                </div>
                <h4 class="text-uppercase mb-3">GAME BOYS &amp; CARTRIDGES</h4>
            </div>
        </div>
    </div>
</section>

@* BANNER EXAMPLE
    <!-- GET IT-->
    <div class="bg-primary py-5 text-white">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 p-3">
                    <h3 class="text-uppercase mb-0">Do you want cool website like this one?</h3>
                </div>
                <div class="col-lg-4 p-3">   <a class="btn btn-outline-light" href="#">Buy this template now</a></div>
            </div>
        </div>
    </div>
*@